html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body */
body {
	background: rgba(255,255,255 ,1);
	font-family: 'Work Sans', sans-serif;
}
/* Titles & text */
h1 {
	font-family: "Poppins", sans-serif;
	text-transform: lowercase;
  color: rgba(255,255,255 ,1);
}
h2{
	color: #8C6E5E;
}
p {
	font-family: "Work Sans", sans-serif;
	color: #30353E;
  line-height: 1.5em;
}
.title-greeting {
  color: rgba(255,255,255,1);
  margin-left: 0.5em;
}



.header {
	background: rgba(16, 30, 38 ,1.0);
}
.nav-logo {
	color: white;
	font-size: 0.8em;
}
.nav-logo h1 {
  margin: 0;
}

.jumbotron {
	background: url("images/newyork.jpg");
	background-size: cover;
  background-position: center;
  height: 14em;
}
.jumbotron h1 {
  margin: 0;
}
.onepage h1{
	color: #313540;
}
.ranks {
	background-color: white;
}
.ranks h1 {
	 color: #313540;
}
.country {
	background-color: #313540;
}
.country h1{
	color:white;
}
.procedures {
	background-color: #D9A84B;
}
.time {
	background-color: white;
}
.density {
	background-color: #D9A84B;
}
.interest {
	background-color: white;
}
.inflation {
	background-color: #D9A84B;
}



/* Hamburger menu */
.b-container {
  position: relative;
  float: right;
  height: 60px;
  margin-top: 0.4em;
}
.b-menu {
  padding: 15px 15px 30px 15px;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(1,0,0,1);
  transition: all 0.5s cubic-bezier(1,0,0,1);
  z-index: 12;
}

.b-bun {
  background: #D9A84B;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(1,0,0,1);
  -moz-transition: all 0.5s cubic-bezier(1,0,0,1);
  -o-transition: all 0.5s cubic-bezier(1,0,0,1);
  -ms-transition: all 0.5s cubic-bezier(1,0,0,1);
  transition: all 0.5s cubic-bezier(1,0,0,1);
}
.b-bun--top {
  height: 3px;
  top: 0;
  width: 35px;
}
.b-bun--mid {
  height: 3px;
  top: 8px;
  width: 35px;
}
.b-bun--bottom {
  height: 3px;
  top: 16px;
  width: 35px;
}

.b-menu.open {
  bottom: 4px;
}
.b-container.open .b-bun--top {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
}
.b-container.open .b-bun--mid {
  opacity: 0;
}
.b-container.open .b-bun--bottom {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

/*
* Media queries
* Mobile first and then upscaling
*/
@media (min-width: 20rem) {	
  /* grootte logo */
	.nav-logo {
	font-size: 0.8em;
	}
  /* logo en hamburger op gelijke hoogte */
  .nav-logo h1 {
    margin-top: 1rem;
  }
  /* h1 sizes */
  .onepage h1{
	 font-size: 1.4em;
  }
  /* jumbotron title sizes */
  .jumbotron h1 {
	 font-size: 3em;
  }
  .title-greeting {
    font-size: 1.2em;
  }
  .jumbotron {
    padding-top: 4rem;
    height: 16em;
  }
}
@media (min-width: 30rem) {
	.nav-logo {
	font-size: 1.2em;
	}
  .nav-logo h1 {
    margin-top: 0.8rem;
  }
  .b-container {
    margin-top: 1rem;
  }
  /* jumbotron title sizes */
  .jumbotron h1 {
	 font-size: 4em;
  }
  .title-greeting {
    font-size: 1.4em;
  }
  .jumbotron {
    height: 18em;
  }
}
@media (min-width: 42.5rem) {
	.nav-logo {
	font-size: 1.2em;
	}
  .b-container {
    margin-top: 1rem;
  }
  /* jumbotron title sizes */
  .jumbotron h1 {
	 font-size: 5em;
  }
  .title-greeting {
    font-size: 1.6em;
  }
  .jumbotron {
    height: 24em;
  }
}
@media (min-width: 60rem) {	
	.nav-logo {
	font-size: 1.6em;
	}
  .b-container {
    margin-top:1.4em;
  }
  /* jumbotron title sizes */
  .jumbotron h1 {
	 font-size: 6em;
  }
  .title-greeting {
    font-size: 1.6em;
  }
  .jumbotron {
    height: 28em;
  }
  
}
@media (min-width: 71.25rem) {	
  /* logo size: desktop */
	.nav-logo {
	font-size: 1.6em;
	}
  /* hide hamburger for desktop */
  .b-container, .b-menu, .b-bun, .b-bun--top, .b-bun--mid,
  .b-bun--bottom, .b-menu.open, .b-container.open {
   visibility: hidden;
  }
  /* jumbotron title sizes */
  .jumbotron h1 {
	 font-size: 8em;
  }
  .title-greeting {
    font-size: 1.8em;
  }
  .jumbotron {
    height: 30em;
  }
  /* h1 sizes */
  .onepage h1{
	 font-size: 2.2em;
  }
}